.cv-chapter {
    font-weight: bold;
}

.main {
    /*background-color: green;*/
    margin: auto 15%;
}
.desc {
    margin: 20px 0 0 0;
   font-size: 1.5em;
}

.header {
    display: flex;
    margin: auto auto -10%  auto;
    justify-content: space-between;
}

.name{
    margin: 60px 0 0 100px;
    font-size: 4em;
    font-weight: bold;
}

.logo{
    margin: 0 0 0 100px;
    height: 30%;
    width: 30%;
}

.content {
    margin: 0 0 0 5%;
}